.App {
    font-family: fantasy;
}

.homeTitle {
    font-size: 49px;
    font-weight: 800;
    margin: 10px 0px 7px 470px;
    color: gray;
}

.item {
    border: 1px solid black;
    height: 35vh;
    max-width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 7px;
    border-top-left-radius: 26px;
    border-bottom-right-radius: 26px;

    border-bottom: 1px solid black;
    min-width: 32vw;
    display: flex;
    flex-wrap: wrap;
}

.item:hover{
    background-color: whitesmoke;
}

.buttonContainer {
    display: grid;
    place-items: center;
}

button {
    background-color: #FF9800;
    border-radius: 6px;
}

.itemDescription {
    font-weight: 800 !important;
}

.itemVal {
    margin-left: 7px;
}

button:hover {
    cursor: pointer;
}

.h3:hover {
    background-color: rgba(205, 201, 201, 0.107);

}

.h5:hover {
    cursor: pointer;
    color: rgb(39, 39, 104);
}

.h5 {
    margin-left: 10px;
}

.homeBarButton {
    background-color: #FF9800;
    border-radius: 12px;
    height: 39px;
    margin: 19px;
    font-size: 23px;
}

.homeBar {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.buyButton {
    background-color: #FF9800;
    font-size: 12px;
}

.homeData{
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
}